DJANGO_ENV=development
DJANGO_DEBUG=true

DJANGO_STARTER_PROJECT_NAME="{{ project_title }}"
DJANGO_STARTER_PROJECT_DESC="{{ project_description }}"
DJANGO_STARTER_API_PREFIX="{{ api_prefix }}"

DJANGO_STARTER_ENABLE_ACCOUNT_API={{ "true" if enable_account_api else "false" }}
DJANGO_STARTER_ENABLE_BILLING_API={{ "true" if enable_billing_api else "false" }}
DJANGO_STARTER_ENABLE_DEMO_API={{ "true" if enable_demo_api else "false" }}
DJANGO_STARTER_ENABLE_INTEGRATIONS_API={{ "true" if enable_integrations_api else "false" }}

DJANGO_SECRET_KEY=
DJANGO_JWT_SALT=

DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_NINJA_DOCS_ENABLED={{ "true" if enable_ninja_docs else "false" }}
PROMETHEUS_ENABLED={{ "true" if enable_prometheus else "false" }}

{% if database == "sqlite" -%}
DJANGO_DB_ENGINE=django.db.backends.sqlite3
DJANGO_DB_NAME=
{% else -%}
DJANGO_DB_ENGINE=django.db.backends.postgresql
DJANGO_DB_HOST={{ postgres_host }}
DJANGO_DB_PORT={{ postgres_port }}
DJANGO_DB_NAME={{ postgres_db }}
DJANGO_DB_USER={{ postgres_user }}
DJANGO_DB_PASSWORD={{ postgres_password }}
{% endif -%}
