DJANGO_ENV=development
DJANGO_DEBUG=true

DJANGO_STARTER_PROJECT_NAME="{{ project_title }}"
DJANGO_STARTER_PROJECT_DESC="{{ project_description }}"
DJANGO_STARTER_API_PREFIX="{{ api_prefix }}"

DJANGO_SECRET_KEY=
DJANGO_JWT_SALT=

DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_NINJA_DOCS_ENABLED=true
